<section class="container-fluid main-container">
    <div class="treanding-heading d-flex align-items-center">
        <img src="assets/images/activity.svg" alt="">
        <p class="text-white m-0 ms-3">Trending Assets</p>
    </div>

    <div class="d-flex justify-content-between">

        <div class="cards-container">
            <p class="coin-names text-center">Solana (SOL)</p>

            <div class="d-flex">
                
                 <p class="price-value m-0">$31,812.80</p>
                 <p class="percentage m-0 ms-3">+10%</p>
                
            </div>

        </div>
    </div>
</section>