<section class="container-fluid main-container">
    <div class="treanding-heading d-flex align-items-center">
        <img src="assets/images/activity.svg" alt="">
        <p class="text-white m-0 ms-3">Trending Assets</p>
    </div>

 <div class="d-flex ">
    <div class="card-main-container text-center d-inline-block">
        <div class="d-flex justify-content-center">
            <div class="shadowed-icon">
                <img src="assets/images/Bitcoin SV (BSV).png" alt="">
            </div>
        </div>

        <div class="cards-container">


            <p class="coin-names text-center m-0 mt-4 pt-1">Solana (SOL)</p>

            <div class="d-flex justify-content-center value-bg">

                <p class="price-value m-0">$31,812.80</p>
                <p class="percentage m-0 ms-3">+10%</p>

            </div>
            <div class="text-center">
                <p class="price-tag m-0">Price</p>
            </div>
            <div class="text-center value-bg mt-2">
                <p class="price-value m-0">$60,000</p>
            </div>

            <div class="text-center">
                <p class="price-tag m-0">Tvl</p>
            </div>

            <div class="d-inline-block mt-2">
                <div class="d-flex justify-content-center align-items-center value-bg1">
                    <img height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">
                    <img class="ms-2 " height="22" width="22" src="assets/images/Solana (SOL).svg" alt="">
                    <img class="ms-2" height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">

                </div>
                <div class="text-center">
                    <p class="price-tag m-0">popular pairs</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-main-container text-center d-inline-block ms-5">
        <div class="d-flex justify-content-center">
            <div class="shadowed-icon">
                <img src="assets/images/Solana (SOL).svg" alt="">
            </div>
        </div>

        <div class="cards-container">


            <p class="coin-names text-center m-0 mt-4 pt-1">Solana (SOL)</p>

            <div class="d-flex justify-content-center value-bg">

                <p class="price-value m-0">$31,812.80</p>
                <p class="percentage m-0 ms-3">+10%</p>

            </div>
            <div class="text-center">
                <p class="price-tag m-0">Price</p>
            </div>
            <div class="text-center value-bg mt-2">
                <p class="price-value m-0">$60,000</p>
            </div>

            <div class="text-center">
                <p class="price-tag m-0">Tvl</p>
            </div>

            <div class="d-inline-block mt-2">
                <div class="d-flex justify-content-center align-items-center value-bg1">
                    <img height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">
                    <img class="ms-2 " height="22" width="22" src="assets/images/Solana (SOL).svg" alt="">
                    <img class="ms-2" height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">

                </div>
                <div class="text-center">
                    <p class="price-tag m-0">popular pairs</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-main-container text-center d-inline-block ms-5">
        <div class="d-flex justify-content-center">
            <div class="shadowed-icon">
                <img src="assets/images/Bitcoin SV (BSV).png" alt="">
            </div>
        </div>

        <div class="cards-container">


            <p class="coin-names text-center m-0 mt-4 pt-1">Solana (SOL)</p>

            <div class="d-flex justify-content-center value-bg">

                <p class="price-value m-0">$31,812.80</p>
                <p class="percentage m-0 ms-3">+10%</p>

            </div>
            <div class="text-center">
                <p class="price-tag m-0">Price</p>
            </div>
            <div class="text-center value-bg mt-2">
                <p class="price-value m-0">$60,000</p>
            </div>

            <div class="text-center">
                <p class="price-tag m-0">Tvl</p>
            </div>

            <div class="d-inline-block mt-2">
                <div class="d-flex justify-content-center align-items-center value-bg1">
                    <img height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">
                    <img class="ms-2 " height="22" width="22" src="assets/images/Solana (SOL).svg" alt="">
                    <img class="ms-2" height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">

                </div>
                <div class="text-center">
                    <p class="price-tag m-0">popular pairs</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-main-container text-center d-inline-block ms-5">
        <div class="d-flex justify-content-center">
            <div class="shadowed-icon">
                <img src="assets/images/Solana (SOL).svg" alt="">
            </div>
        </div>

        <div class="cards-container">


            <p class="coin-names text-center m-0 mt-4 pt-1">Solana (SOL)</p>

            <div class="d-flex justify-content-center value-bg">

                <p class="price-value m-0">$31,812.80</p>
                <p class="percentage m-0 ms-3">+10%</p>

            </div>
            <div class="text-center">
                <p class="price-tag m-0">Price</p>
            </div>
            <div class="text-center value-bg mt-2">
                <p class="price-value m-0">$60,000</p>
            </div>

            <div class="text-center">
                <p class="price-tag m-0">Tvl</p>
            </div>

            <div class="d-inline-block mt-2">
                <div class="d-flex justify-content-center align-items-center value-bg1">
                    <img height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">
                    <img class="ms-2 " height="22" width="22" src="assets/images/Solana (SOL).svg" alt="">
                    <img class="ms-2" height="22" width="22" src="assets/images/Bitcoin SV (BSV).png" alt="">

                </div>
                <div class="text-center">
                    <p class="price-tag m-0">popular pairs</p>
                </div>
            </div>
        </div>
    </div>
 </div>
</section>